<div class="row justify-content-center app-row-wrapper">
	<div class="col-12 col-sm-3">
		<div class="card">
			<div class="card-header">
				<a href="" ng-click="ui.tab = 'chats';" 
					class="category mr-2"
					ng-class="{'category-active': ui.tab == 'chats'}">Chats</a>
				<a href="" ng-click="ui.tab = 'contacts';" 
					class="category mr-2"
					ng-class="{'category-active': ui.tab == 'contacts'}">Contacts</a>
			</div>
			
			<!-- chats -->
			<div class="card-body sidebar-items-wrapper" ng-show="ui.tab == 'chats'">
				<div class="list-group" ng-show="chats.data.length > 0">
					<a href="" class="list-group-item list-group-item-action sidebar-chat-item-wrapper" 
						ng-repeat="chat in chats.data" 
						ng-click="chats.show(chat.id);" 
						ng-class="{'active': chat.id == chats.selectedChat.id}">

						<div class="new-messages-badge new-messages-badge-{{chat.id}}" ng-show="chat.newMessages">New messages</div>

						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">{{ chat.name }}</h5>
							<small>{{ chat.updated_at }}</small>
						</div>
						<p class="mb-1 sidebar-latest-message">
							<span ng-bind-html="chat.latest_message.message | to_trusted">&nbsp;</span>
						</p>
						<small>{{ chat.latest_message.created_at_human_diff }}&nbsp;</small>
					</a>
				</div>
				<div class="list-group-item" ng-if="chats.data.length == 0">
					No chats :( <br>
					create new chat in <a href="" ng-click="ui.tab='contacts';">contacts tab</a>
				</div>
			</div>

			<!-- contacts -->
			<div class="card-body sidebar-items-wrapper" ng-show="ui.tab == 'contacts'">

				<div class="list-group">
					<div class="list-group-item filter-wrapper">
						<input type="text" ng-model="ui.contactsFilter" class="form-control" placeholder="filter" ng-change="contacts.load('delayed');"/>
					</div>
					<a href="" class="list-group-item list-group-item-action" 
						ng-repeat="contact in contacts.data" 
						ng-click="chats.create(contact.id);"
						ng-attr-title="Click to start conversation with {{ contact.name }}">

						<h5 class="mb-1">{{ contact.name }}</h5>
						<p class="mb-1">{{ contact.email }}</p>
						<small>Joined {{ contact.joined }}</small>
					</a>
					<div class="list-group-item" ng-if="contacts.data.length == 0">
						<span class="text-muted">Nothing here...</span>
					</div>
				</div>


			</div>

		</div>
	</div>
	<div class="col-sm-9">
		<div class="card">
			<div class="card-header">Conversation</div>
			<div class="card-body">
				<ul class="list-group" ng-if="chats.selectedChat && chats.selectedChat.messages">
					<li class="list-group-item one-message-wrapper" ng-repeat="message in chats.selectedChat.messages">
						<strong>{{ message.created_at }}</strong> from <strong>{{ message.user_name }}:</strong> <span ng-bind-html="message.message | to_trusted"></span>
					</li>
					<li class="list-group-item one-message-wrapper">
						<form ng-submit="messages.create()">
							<div class="input-group">
								<input id="newMessageText" class="form-control" type="text" 
									autocomplete="off"
									placeholder="Your message here..."
									ng-model="messages.newMessageText" 
									ng-disabled="messages.newMessageSending" />
								<button type="submit" class="input-group-append btn btn-primary">Send</button>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

