html, body, div#app {
	height: 100%;
}

main {
	height: calc(100% - 25px);
}

.app-wrapper, .app-row-wrapper, .app-row-wrapper .card {
	height: 100%;
}

.app-row-wrapper .card {
	max-height: 100%;
}

.app-row-wrapper .card-body {
	overflow: auto;
}

.category {
	display: inline-block;
}

.category-active {
	border-bottom: 2px solid darkorange;
}

.sidebar-items-wrapper {
	padding: 0;
}

.sidebar-latest-message {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-latest-message a {
	color: inherit;
	text-decoration: underline;
}

.filter-wrapper {
	padding: 5px;
}

.one-message-wrapper {
	display: block;
	margin: 5px 10px;
	border-radius: 10px;
	border: 1px solid #DDD;
	padding: 5px;
}

.sidebar-chat-item-wrapper {
	position: relative;
	overflow: hidden;
}

.new-messages-badge {
	position: absolute;
    right: -25px;
    top: 20px;
    transform: rotate(45deg);
    background: #C11;
	color: #EEE;
    padding: 0px 20px;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
}
