html, body, div#app {
	height: 100%;
}

main {
	height: calc(100% - 25px);
}

.app-wrapper, .app-row-wrapper, .app-row-wrapper .card {
	height: 100%;
}

.app-row-wrapper .card {
	max-height: 100%;
}

.app-row-wrapper .card-body {
	overflow: auto;
}

.category {
	display: inline-block;
}

.category-active {
	border-bottom: 2px solid darkorange;
}

.sidebar-items-wrapper {
	padding: 0;
}

.filter-wrapper {
	padding: 5px;
}

.one-message-wrapper {
	display: block;
	margin: 5px 10px;
	border-radius: 10px;
	border: 1px solid #DDD;
	padding: 5px;
}
